<div class="container-fluid">

  <div class="d-flex justify-content-end mt-3 mb-2">

    <button class="btn btn-outline-primary mb-3 me-2"  (click)="onAddNew()">Add</button>
    <button class="btn btn-outline-warning mb-3 me-2"  [disabled]="!selectedEmployeeId" (click)="onEdit(selectedEmployeeId)" >Update</button>
    <button 
      (click)="onDeleteEmployee(selectedEmployeeId!)" 
      class="btn btn-outline-danger mb-3"
      [disabled]="!selectedEmployeeId">
      Delete
    </button>



     
  </div>

  <div class="row">
    <!-- Left column with fixed height and scroll -->
    <div class="col-2" style="height: 90vh; overflow-y: auto;">
      <!-- Filter -->
      <div class="mb-3">
      <label for="designationFilter" class="form-label">Filter by Designation:</label>
        <form [formGroup]="filterForm">
          <select id="designationFilter" class="form-select" formControlName="selectedDesignation">
            <option value="">All</option>
            <option *ngFor="let designation of designationList" [value]="designation">
              {{ designation }}
            </option>
          </select>
        </form>
    </div>

      <!-- Scrollable List -->
      <ul class="list-group">
        <li 
          class="list-group-item" 
          *ngFor="let employee of filteredEmployees"
          (click)="viewEmployeeDetails(employee.id)" 
          [ngClass]="{'active': selectedEmployeeId === employee.id}"
          style="cursor: pointer;">
          <div class="fw-bold">Employee Name: {{ employee.employeeName }}</div>
          <div>ID: {{ employee.id }}</div>
          <div>Designation: {{ employee.designationName || 'N/A' }}</div>
        </li>
      </ul>
    </div>

    <!-- Right side -->
    <!-- RIGHT SIDE: Form Display -->
    
    <div class="col-10">
    
          <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"  enctype="multipart/form-data">

            <div class="row">
               <div class="col-3 mb-3">
                  <label class="form-label">Name</label>
                  <input class="form-control" formControlName="employeeName" />
                </div>

                <div class="col-3 mb-3">
                  <label class="form-label">employeeNameBangla</label>
                  <input class="form-control" formControlName="employeeNameBangla" />
                </div>

                <div class="col-3 mb-3">
                  <label class="form-label">fatherName</label>
                  <input class="form-control" formControlName="fatherName" />
                </div>

                <div class="col-3 mb-3">
                  <label class="form-label">motherName</label>
                  <input class="form-control" formControlName="motherName" />
                </div>

            </div>

            <div class="row">
              <div class="col-3 mb-3">
                <label class="form-label">birthDate</label>
                <input type="date" class="form-control" formControlName="birthDate" />

              </div>

              <div class="col-3 mb-3">
                <label class="form-label">joiningDate</label>
                <input type="date" class="form-control" formControlName="joiningDate" />
              </div>

              <div class="col-3 mb-3">
                <label class="form-label">contactNo</label>
                <input class="form-control" formControlName="contactNo" />
              </div>

              <div class="col-3 mb-3">
                <label class="form-label">nationaalIdentificationNumber</label>
                <input type="text" class="form-control" formControlName="nationalIdentificationNumber" />
              </div>

            </div>
            
            
            <div class="row">
                <div class="col-3 mb-3">
                  <label class="form-label">address</label>
                  <input class="form-control" formControlName="address" />
                </div>

                <div class="col-3 mb-3">
                  <label class="form-label">PresentAddress</label>
                  <input class="form-control" formControlName="PresentAddress" />
                </div>

                <!-- hasOvertime (as Yes/No radio buttons) -->
                <div class="col-3 mb-3">
                  <label class="form-label">Has Overtime</label><br />
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="hasOvertime" [value]="true" />
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="hasOvertime" [value]="false" />
                    <label class="form-check-label">No</label>
                  </div>
                </div>

                <!-- hasAttendenceBonus (as Yes/No radio buttons) -->
                <div class="col-3 mb-3">
                  <label class="form-label">Has Attendance Bonus</label><br />
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="hasAttendenceBonus" [value]="true" />
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="hasAttendenceBonus" [value]="false" />
                    <label class="form-check-label">No</label>
                  </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-3 mb-3">
                  <label class="form-label">Is Active</label><br />
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="isActive" [value]="true" />
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="isActive" [value]="false" />
                    <label class="form-check-label">No</label>
                  </div>
                </div>

            <!-- employeeImageExtension (as readonly input or hidden input) -->
                  <div class="col-3 mb-3">
                    <label for="idDesignation">Designation</label>
                    <select formControlName="idDesignation" class="form-control">
                      <option value="">-- Select Designation --</option>
                      <option *ngFor="let designation of designations" [value]="designation.id">{{ designation.text }}</option>
                    </select>
                 </div>




                <div class="col-3 mb-3">
                  <label for="idDepartment">Department</label>
                  <select formControlName="idDepartment" class="form-control">
                    <option value="">-- Select Department --</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.text }}</option>
                  </select>

                  <div class="invalid-feedback d-block" *ngIf="employeeForm.get('idDepartment')?.invalid">
                    Department is required.
                  </div>
                                      
                  
                </div>

                <div class="col-3 mb-3">
                    <label for="idSection">Section</label>
                      <select formControlName="idSection" class="form-control">
                        <option value="">-- Select Section --</option>
                        <option *ngFor="let sec of sections" [value]="sec.id">{{ sec.text }}</option>
                      </select>

                    <div class="invalid-feedback d-block" *ngIf="employeeForm.get('idSection')?.invalid">
                      Section is required.
                    </div>  
                </div>
            </div>

            <!-- isActive (as Yes/No radio buttons) -->


            <div class="row">
             

              <div class="col-3 mb-3">
                <label for="idEmployeeType">Employee Type</label>
                <select formControlName="idEmployeeType" class="form-control">
                  <option value="">-- Select Employee Type --</option>
                  <option *ngFor="let emptype of employeetypes" [value]="emptype.id">{{ emptype.text }}</option>
                </select>
              </div>

              <div class="col-3 mb-3">
                <label for="idJobType">Job Type</label>
                <select formControlName="idJobType" class="form-control">
                  <option value="">-- Select Job Type --</option>
                  <option *ngFor="let jobtype of jobtypes" [value]="jobtype.id">{{ jobtype.text }}</option>
                </select>
              </div>

              <div class="col-3 mb-3">
                <label for="idGender">Genders</label>
                <select formControlName="idGender" class="form-control">
                  <option value="">-- Select Genders Type --</option>
                  <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.text }}</option>
                </select>
              </div>

              <div class="col-3 mb-3">
                <label for="idReligion">Religion</label>
                <select formControlName="idReligion" class="form-control">
                  <option value="">-- Select Religion --</option>
                  <option *ngFor="let religion of religions" [value]="religion.id">{{ religion.text }}</option>
                </select>
              </div>


            </div>


            


                <div class="row">
                    <div class="col-3 mb-3">
                      <label for="idMaritalStatus" class="form-label">Marital Status</label>
                      <select formControlName="idMaritalStatus" class="form-control">
                        <option value="">-- Select Marital Status --</option>
                        <option *ngFor="let MaritalStatus of maritalstatuses" [value]="MaritalStatus.id">
                          {{ MaritalStatus.text }}
                        </option>
                      </select>
                    </div>

                    <div class="col-3 mb-3">
                      <label for="idWeekOff" class="form-label">Week Off</label>
                      <select formControlName="idWeekOff" class="form-control">
                        <option value="">-- Select Week Off --</option>
                        <option *ngFor="let WeekOff of weekoffs" [value]="WeekOff.id">
                          {{ WeekOff.text }}
                        </option>
                      </select>
                    </div>

                    <div class="col-3 mb-3">
                      <label for="idReportingManager" class="form-label">Reporting Manager</label>
                      <select formControlName="idReportingManager" class="form-control">
                        <option value="">-- Select Reporting Manager --</option>
                        <option *ngFor="let ReportingManager of reportingmanagers" [value]="ReportingManager.id">
                          {{ ReportingManager.text }}
                        </option>
                      </select>
                    </div>

                    <div class="col-3 mb-3">
                      <label for="uploadImage" class="form-label">Upload Image</label>
                      <input
                        id="uploadImage"
                        type="file"
                        accept="image/*"
                        (change)="onEmployeeImageSelected($event)"
                        class="form-control"
                        [disabled]="isReadonly"
                      />
                    </div>
                </div>



                <!-- <div class="row">
                        
                   <div class="col-12 mb-3 text-end">
                    <label class="form-label">Image Preview</label><br />
                    <img
                      *ngIf="employeeForm.get('employeeImageBase64')?.value"
                      [src]="'data:image/' + employeeForm.get('employeeImageExtension')?.value + ';base64,' + employeeForm.get('employeeImageBase64')?.value"
                      alt="Preview"
                      width="120"
                      height="120"
                      style="object-fit: cover; border: 1px solid #ccc; border-radius: 4px;"
                    />
                  </div>
                  
                        

                </div> -->


                <div class="row justify-content-center">
  <div class="col-12 mb-3 text-end">
    <label class="form-label fw-bold">Image Preview</label><br />
    <img
      *ngIf="employeeForm.get('employeeImageBase64')?.value"
      [src]="'data:image/' + employeeForm.get('employeeImageExtension')?.value + ';base64,' + employeeForm.get('employeeImageBase64')?.value"
      alt="Preview"
      class="img-thumbnail"
      style="width: 180px; height: 180px; object-fit: cover;"
    />
  </div>
</div>



            
            

        
           
         

            




          

           

            <div class="row">
              <div class="col-md-12">
                <label class="fw-bold mb-2">Education Info</label>
                <div formArrayName="employeeEducationInfos">
                  <table class="table table-bordered table-sm">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Education Level</th>
                        <th>Education Examination</th>
                        <th>Education Result</th>
                        <th>IsForeignInstitute</th>



                        <th>CGPA</th>
                        <th>Exam Scale</th>
                        <th>Marks</th>
                        <th>major</th>
                        <th>passingYear</th>
                        <th>instituteName</th>
                        <th>duration</th>
                        <th>achievement</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let edu of educationInfos.controls; let i = index" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>

                        <td>
                          <select formControlName="idEducationLevel" class="form-control form-control-sm">
                            <option value="">-- Select EducationLevel --</option>
                            <option *ngFor="let educationlevel of educationlevels" [value]="educationlevel.id">{{ educationlevel.text }}</option>
                          </select>
                          
                           <div class="invalid-feedback d-block" *ngIf="edu.get('idEducationLevel')?.invalid">
                                EducationLevel is required.
                           </div>
                        </td>

                        <td>
                          <select formControlName="idEducationExamination" class="form-control form-control-sm">
                            <option value="">-- Select Education Examination --</option>
                            <option *ngFor="let educationexamination of educationexaminations" [value]="educationexamination.id">{{ educationexamination.text }}</option>
                          </select>
                           <div class="invalid-feedback d-block" *ngIf="edu.get('idEducationExamination')?.invalid">
                                EducationExamination is required.
                           </div>
                        </td>

                        <td>
                          <select formControlName="idEducationResult" class="form-control form-control-sm">
                            <option value="">-- Select Education Result --</option>
                            <option *ngFor="let educationresult of educationresults" [value]="educationresult.id">{{ educationresult.text }}</option>
                          </select>
                           <div class="invalid-feedback d-block" *ngIf="edu.get('idEducationResult')?.invalid">
                                EducationResult is required.
                           </div>
                        </td>
                        <td>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              [value]="true"
                              formControlName="isForeignInstitute"
                              [id]="'foreignYes' + i"
                            />
                            <label class="form-check-label" [for]="'foreignYes' + i">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              [value]="false"
                              formControlName="isForeignInstitute"
                              [id]="'foreignNo' + i"
                            />
                            <label class="form-check-label" [for]="'foreignNo' + i">No</label>
                          </div>
                          <div class="invalid-feedback d-block"
                              *ngIf="edu.get('isForeignInstitute')?.invalid">
                               Please select Yes or No.
                          </div>
                        </td>

                        <td>
                          <input type="number" class="form-control form-control-sm" formControlName="cgpa" />
                        </td>
                        <td>
                          <input type="number" class="form-control form-control-sm" formControlName="examscale" />
                        </td>
                        <td>
                          <input type="number" class="form-control form-control-sm" formControlName="marks" />
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="major" />
                          <div class="invalid-feedback d-block" *ngIf="edu.get('major')?.invalid">
                            Major is required.
                          </div>
                        </td>
                        <td>
                          <input type="number" class="form-control form-control-sm" formControlName="passingYear" />
                          <div class="invalid-feedback d-block" *ngIf="edu.get('major')?.invalid">
                            Passing Year is required.
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="instituteName" />
                          <div class="invalid-feedback d-block" *ngIf="edu.get('major')?.invalid">
                            Institutename is required.
                          </div>
                        </td>
                        <td>
                          <input type="number" class="form-control form-control-sm" formControlName="duration" />
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="achievement" />
                        </td>
                        <td>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeEducation(i)" [disabled]="isReadonly" >Remove</button>
                        </td>

                        
                      </tr>
                    </tbody>
                  </table>
                </div>

                    <button type="button" class="btn btn-sm btn-primary mb-2" (click)="addEducation()" [disabled]="isReadonly">Add Education</button>

              </div>
            </div>




            <div class="row">
              <div class="col-md-12">
                <label class="fw-bold mb-2">Employee Document</label>
                <div formArrayName="employeeDocument">
                  <table class="table table-bordered table-sm">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>documentName</th>
                        <th>filename</th>
                        <th>uploadDate</th>
                        <th>uploadedFileExtention</th>
                        
                        

                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let doc of documents.controls; let i = index" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="documentName" />
                           <div class="invalid-feedback d-block" *ngIf="doc.get('documentName')?.invalid">
                            documentName is required.
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="filename" />
                           <div class="invalid-feedback d-block" *ngIf="doc.get('filename')?.invalid">
                            filename is required.
                          </div>
                        </td>
                        <td>
                          <input type="date" class="form-control form-control-sm" formControlName="uploadDate" />
                           <div class="invalid-feedback d-block" *ngIf="doc.get('uploadDate')?.invalid">
                            uploadDate is required.
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="uploadedFileExtention" />
                        </td>
                        <td>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeDocument(i)" [disabled]="isReadonly">Remove</button>
                        </td>     
                                        

                                         

                                         
                      </tr> -->
                                          <tr *ngFor="let doc of documents.controls; let i = index" [formGroupName]="i">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <input type="text" class="form-control form-control-sm" formControlName="documentName" />
                        <div class="invalid-feedback d-block" *ngIf="doc.get('documentName')?.invalid">
                          documentName is required.
                        </div>
                      </td>
                      <td>
                        <input type="text" class="form-control form-control-sm" formControlName="filename" readonly />
                        <div class="invalid-feedback d-block" *ngIf="doc.get('filename')?.invalid">
                          filename is required.
                        </div>
                      </td>
                      <td>
                        <input type="date" class="form-control form-control-sm" formControlName="uploadDate" />
                        <div class="invalid-feedback d-block" *ngIf="doc.get('uploadDate')?.invalid">
                          uploadDate is required.
                        </div>
                      </td>
                      <td>
                        <input type="text" class="form-control form-control-sm" formControlName="uploadedFileExtention" readonly />
                      </td>
                      <td>
                        <input 
                          type="file" 
                          accept="image/*" 
                          (change)="onImageSelected($event, i)" 
                          [disabled]="isReadonly"
                        />
                      </td>
                      <td>
                        <button type="button" class="btn btn-sm btn-danger" (click)="removeDocument(i)" [disabled]="isReadonly">Remove</button>
                      </td>     
                    </tr>



                    </tbody>
                  </table>
                </div>
                <button type="button" class="btn btn-sm btn-primary" (click)="addDocument()" [disabled]="isReadonly">Add Document</button>

              </div>
            </div>





            <div class="row">
              <div class="col-md-12">
                <label class="fw-bold mb-2">Employee Professional Certification</label>
                <div formArrayName="employeeProfessionalCertification">
                  <table class="table table-bordered table-sm">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Certification Title</th>
                        <th>Certification Institute</th>
                        <th>Institute Location</th>
                        <th>From Date</th>
                        <th>To Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cert of certifications.controls; let i = index" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="certificationTitle" />
                           <div class="invalid-feedback d-block" *ngIf="cert.get('certificationTitle')?.invalid">
                            certification title is required.
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="certificationInstitute" />
                           <div class="invalid-feedback d-block" *ngIf="cert.get('certificationInstitute')?.invalid">
                            certification institute is required.
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="instituteLocation" />
                           <div class="invalid-feedback d-block" *ngIf="cert.get('instituteLocation')?.invalid">
                            institute Location is required.
                          </div>
                        </td>
                        <td>
                          <input type="date"  class="form-control" formControlName="fromDate" />
                           <div class="invalid-feedback d-block" *ngIf="cert.get('fromDate')?.invalid">
                            from date is required.
                          </div>
                        </td>
                        <td>
                         <input type="date" class="form-control" formControlName="toDate" /> 
                        </td>
                        <td>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeCertification(i)" [disabled]="isReadonly">Remove</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="button" class="btn btn-sm btn-primary" (click)="addCertification()" [disabled]="isReadonly">Add Certification</button>

              </div>
           </div>








        

            
            <div class="row">
              <div class="col-md-12">
                <label class="fw-bold mb-2">Employee Family Info</label>
                <div formArrayName="employeeFamilyInfo">
                  <table class="table table-bordered table-sm">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Relationship</th>
                        <th>Date of Birth</th>
                        <th>Contact No</th>
                        <th>Current Address</th>
                        <th>Permanent Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let family of familyInfos.controls; let i = index" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>

                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="name" />
                          <div class="invalid-feedback d-block" *ngIf="family.get('name')?.invalid">
                            Name is required.
                          </div>
                        </td>

                        <td>
                          <select formControlName="idGender" class="form-control form-control-sm">
                            <option value="">-- Select Gender --</option>
                            <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.text }}</option>
                          </select>
                          <div class="invalid-feedback d-block" *ngIf="family.get('idGender')?.invalid">
                            Gender is required.
                          </div>
                        </td>

                        <td>
                          <select formControlName="idRelationship" class="form-control form-control-sm">
                            <option value="">-- Select Relationship --</option>
                            <option *ngFor="let relation of relationships" [value]="relation.id">{{ relation.text }}</option>
                          </select>
                          <div class="invalid-feedback d-block" *ngIf="family.get('idRelationship')?.invalid">
                            relationships is required.
                          </div>
                        </td>

                        <td>
                          <input type="date" class="form-control form-control-sm" formControlName="dateOfBirth" />
                        </td>

                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="contactNo" />
                        </td>

                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="currentAddress" />
                        </td>

                        <td>
                          <input type="text" class="form-control form-control-sm" formControlName="permanentAddress" />
                        </td>

                        <td>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeFamilyInfo(i)" [disabled]="isReadonly">Remove</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <button type="button" class="btn btn-sm btn-primary" (click)="addFamilyInfo()" [disabled]="isReadonly">Add Family Member</button>

              </div>
            </div>






           <!-- Submit -->
          <button type="submit" class="btn btn-primary mt-2" [disabled]="isReadonly">Save</button>

          </form>
     
     
    </div>

  </div>
</div>



